{% extends 'base.html' %} {%block head%} {%block option_bar%}
<!--creating an option bar to access easily the different,
            categories or services of the webpage-->
<header>
  <div class="container">
    <!--container(name) division helps to separate our work in smaller divisions, 
                        so it will be easier to implement or manipulate with CSS styles-->
    <div class="nav-list">
      <!--nav-list(name) division helps to separate our work in smaller divisions, 
                            so it will be easier to implement or manipulate with CSS styles 
                            
                            It contains four list items to which we are going to associate a link to redirect us.  -->
      <li>
        <a href="#" class="nav-link" id="theFarm">The Farm</a>
      </li>
      <li>
        <a href="#" class="nav-link" id="services">Services</a>
      </li>
      <li>
        <a href="#" class="nav-link" id="types">Animal types </a>
      </li>
      <li>
        <a href="#" class="nav-link" id="graphics">Graphics</a>
      </li>
      <li>
        <a href="#" class="nav-link" id="contact">Contact</a>
      </li>

      <div class="language">
        <li>
          <a onclick="changeLanguage()" class="nav-link" id="languageSwitcher"
            >Fr</a
          >
        </li>
      </div>
    </div>
  </div>
</header>
{% endblock %} {% endblock %} {%block body%} {%block farmblock%}
<div class="thefarm-block">
  <img src="static\images\home-image.jpg" class="farm-image" />
  <p class="about-the-farm">
    (the farm) (fr) Notre ferme, la ferme des trois Chênes a fêté l'année passée
    son 150ème anniversaire. De génération en génération, elle est transmise et
    entretenue de père en fils et nous faisons tout notre possible pour répondre
    aux besoins des locaux. (en) Our farm, the farm of the three Oaks celebrated
    its 150th birthday last year. It has since then been bequeathed from father
    to son across generations and we do our best to satisfy the local
    community's needs. (services) (fr) Dans notre ferme, principalement
    laitière, nous proposons différents produits et services. Nous proposons du
    lait frais tous les matins mais également différentes sortes de fromages
    pour tous les goûts(sur demande). En été vous pouvez également acheter des
    oeufs du jour, venez tôt car le stock est limité. De plus nous proposons un
    service de livraison à domicile, n'hésitez pas à appeler le numéro qui se
    trouve dans la partie contact du site si vous voulez en bénéficier (en) In
    our mostly dairy farm we offer different kinds of services and products. We
    have fresh milk every morning and a whole lot of different cheese types (on
    demand). During the summer we also have a daily stock of eggs, although a
    relatively small amount, so come early to be sure to have some. In addition,
    we hold a delivery service, feel free to call, you can find our phone number
    in the contact section of this website. (animal types) (fr) Dans notre
    modeste ferme on peut trouver trois races de vaches. Nous avons des
    Holstein, Jersey et des Blanc Bleu Belge. Grâce à une base de données que
    nous tenons à jour depuis les années 90, nous disposons d'une grande
    quantité d'informations sur toutes les vaches qui sont passées par cette
    ferme. Si ça vous intéresse vous pouvez retrouver sur ce site des graphiques
    interactifs reprenant ces données. Nous avons également un petit poulailler
    mais ce n'est pas notre élevage principal (en) In our cosy little farm you
    can find three different breeds of cows. We have Holsteins, Jerseys and some
    Blanc Bleu Belge. Due to a database that we keep up to date since the
    nineties, we have tons of information about any cow that lived in this farm.
    If you are interessed in this, you can find interactive graphs about all
    this data on this website. We also take care of a small number of hen.
    (graphiques)(fr) Dans cette section il y a différents graphiques interactifs
    mettant en avant plusieurs catégories de données. N'hésitez pas à les
    consulter pour en apprendre plus sur notre ferme. (en) In this section you
    will find a few different graphs highlighting various types of data. Feel
    free to play around with them if you want to learn more about our farm.
    (contact)(fr) Pour nous joindre : - tel 0356/55 12 25 - email : -
    ferme3chenes@cows.be Nous ferons de notre mieux pour vous répondre au plus
    vite. (en) to join us : - tel 0356/55 12 25 - email : - ferme3chenes@cows.be
    We will try our best to answer you as soon as possible.
  </p>
</div>
{%endblock%} {%block graphics%}
<div class="graphics-selector">
  <select name="family" id="family-select">
    <option value="">--Please choose an option--</option>
  </select>
</div>
<div class="action">
  <form action="" method="POST">
    <input type="submit" value="Show" />
  </form>
</div>
{%endblock%}

<script>
  // Create a function to change
  // the hash value of the page

  function changeLanguage() {
    location.hash = languageSwitcher.textContent;
    location.reload();
  }

  // Define the language reload anchors
  var language = {
    fr: {
      farm: "La Ferme",
      service: "Services",
      type: "Types d' animaux",
      graphic: "Graphiques",
      lang: "En",
    },
  };

  // Check if a hash value exists in the URL
  if (window.location.hash) {
    // Set the content of the webpage
    // depending on the hash value
    if (window.location.hash == "#Fr") {
      theFarm.textContent = language.fr.farm;
      services.textContent = language.fr.service;
      types.textContent = language.fr.type;
      graphics.textContent = language.fr.graphic;
      languageSwitcher.textContent = language.fr.lang;
    }
  }
</script>
{% endblock %}
