{% extends 'base.html' %} {%block head%} {%block option_bar%}
<!--creating an option bar to access easily the different,
    categories or services of the webpage-->
<title>Ferme des 3 chênes</title>
<link rel="shortcut icon" href="static\images\cow.jpg">
<header>
  <div class="container">
    <!--container(name) division helps to separate our work in smaller divisions, 
                so it will be easier to implement or manipulate with CSS styles-->
    <div class="nav-list">
      <!--nav-list(name) division helps to separate our work in smaller divisions, 
                    so it will be easier to implement or manipulate with CSS styles 
                    
                    It contains four list items to which we are going to associate a link to redirect us.  -->
      <li>
        <a href="#first" class="nav-link" id="theFarm">The Farm</a>
      </li>
      <li>
        <a href="#second" class="nav-link" id="services">Services</a>
      </li>
      <li>
        <a href="#third" class="nav-link" id="types">Animal types </a>
      </li>
      <li>
        <a href="#fourth" class="nav-link" id="charts">Charts</a>
      </li>
      <li>
        <a href="#fifth" class="nav-link" id="contact">Contact</a>
      </li>

      <div class="language">
        <li>
          <a onclick="changeLanguage()" class="nav-link" id="languageSwitcher">Fr</a>
        </li>
      </div>
    </div>
  </div>
</header>
{% endblock %} {% endblock %} {%block body%} {%block farmblock%}
<div  class="thefarm-block">

  <!--the Farm-block division helps to separate our work in smaller divisions, so it will be easier to implement or manipulate with CSS styles and it makes it easier
    to understand and visualize.
    It contains one image and 7 paragraphs to explain the content of the web site  -->
  <img src="static\images\home-image.jpg" class="farm-image" />
  <a id="first" style="position: relative; top: -25px"></a>
  <h1 id="farmtitle" class="titles">The Farm</h1>
  <div class="farm-box">
    <div class="image-box">
      <img src="static\images\Artboard 2.png" width="400px" height="400px"\>
    </div>
    <div class="content-farm">
      <p class="paragraph" id="thefarmlabel">
        Our farm, the farm of the three Oaks celebrated its 150th birthday last
        year. It has since then been bequeathed from father to son across
        generations and we do our best to satisfy the local community's needs.
      </p>
    </div>
  </div>
  <a id="second" style="position: relative; top: -65px"></a>
  <h1 id="servicestitle" class="titles">Services</h1>
  <a id="third" style="position: relative; top: 235px"></a>
  <div class="service-box">
    <div class="content-service">
      <p class="paragraph" id="serviceslabel">
        In our mostly dairy farm we offer different kinds of services and products.
        We have fresh milk every morning and a whole lot of different cheese types
        (on demand).<br>
        During the summer we also have a daily stock of eggs, although
        a relatively small amount, so come early to be sure to have some.<br>
        In addition, we hold a delivery service, feel free to call, you can find our
        phone number in the contact section of this website.
      </p>
    </div>
    <div class="image-box">
      <img src="static\images\Artboard 1.png"\>
    </div>
  </div>
  <h1 id="animaltypestitle" class="titles">Animal Types</h1>
  <a id="fourth" style="position: relative; top: 350px"></a>
  <div class="AnimalTypes-box">
    <div class="image-box">
      <img src="static\images\animal_type.png" width="400px" height="400px"\>
    </div>
    <div class="content-AnimalTypes">
      <p class="paragraph" id="animaltypeslabel">
        In our cosy little farm you can find three different breeds of cows. We have
        Holsteins, Jerseys and some Blanc Bleu Belge. <br>
        Due to a database that we keep
        up to date since the nineties, we have tons of information about any cow
        that lived in this farm. <br>
        If you are interessed in this, you can find
        interactive graphs about all this data on this website. We also take care of
        a small number of hen.
      </p>
    </div>
  </div>
  <a id="fourth" style="position: relative; top: -65px"></a>
  <h1 id="charttitle" class="titles">Charts</h1>
  <div class="charts-box">
    <div class="content-chart">
        <p class="paragraph" id="chartslabel">
          In this section you will find a few different graphs highlighting various
          types of data. Our web page is dynamic and responsible for extracting relevant data from the database, 
          calculating quantities relevant to the exploitation of the three oaks, and displaying the result by a graph.
        </p>
        <h2 class="count">1. Graph1</h2>
        <p class="paragraph2" id="firstGraph">The first graphic displays the number of calvings per day over a period. 
          It gives the user the option to refine their search by using the family field that is optional.</p>
        <h2 class="count">2. Graph2</h2>
          <p class="paragraph2" id="secondGraph">The second one displays for a year or a month, 
            animals born in the period of full moon and those born outside. 
            We give the user the option to refine their search by using the family field that is optional.</p>
        <h2 class="count">3. Graph3</h2>
          <p class="paragraph2" id="thirdGraph">The third and last graphic displays the breed distribution in the database. 
            Several breeds are required as well as the minimum percentage of these and the number of animals 
            meeting these criteria per breed is displayed on the graph.</p>
        <br>
        <p class="paragraph" id="chartslabel2">Feel free to play around with them if you want to learn more
          about our farm.</p>
    </div> 
    <div class="image-box"><img src="static\images\statistics.png" display="flex" margin-right=50px width="300px" height="300px"\></div>
  </div> 
</div>
{%endblock%} {%block charts%}
<form id="form" method="POST">
    <!--The <form> element is a container for different types of input elements, such as: text fields, checkboxes, radio buttons, submit buttons,.
    On our case when the show button is clicked it gets the data from the <form> and sends it to the farm.py as a POST request.
      it contains a lot of selectors that helps us to get data to generate the charts -->
  <div class="charts-selector">
    <!-- This div contains the necessary selectors for different charts they are all hidden except the chart-to-display, this selector contains the options
         for the chart to show, after choosing one of 3, the other selectors that may be used to generate this chart are showed -->
    <select class="select" name="chart-to-display" id="chart-select">
      <option selected id="select1" value="0">Choose a graph to show</option>
      <option value="1">Graph1</option>
      <option value="2">Graph2</option>
      <option value="3">Graph3</option>
    </select>
    <select hidden class="select" name="month" id="start-month-select">
      <option id="select2" value="">Select Month</option>
      <option id="select21" selected value="01">January</option>
      <option id="select22" value="02">February</option>
      <option id="select23" value="03">March</option>
      <option id="select24" value="04">April</option>
      <option id="select25" value="05">May</option>
      <option id="select26" value="06">June</option>
      <option id="select27" value="07">July</option>
      <option id="select28" value="08">August</option>
      <option id="select29" value="09">September</option>
      <option id="select210" value="10">October</option>
      <option id="select211" value="11">November</option>
      <option id="select212" value="12">December</option>
    </select>
    <select hidden class="select" name="year" id="start-year-select">
      <option id="select3" value="">Select year</option>
      {% for i in range(min,max+1)%}
      <option selected value="{{i}}">{{i}}</option>
      {%endfor%}
    </select>
    <select hidden class="select" name="month" id="end-month-select">
      <option id="select4" value="">Select Month</option>
      <option id="select41" value="01">January</option>
      <option id="select42" value="02">February</option>
      <option id="select43" value="03">March</option>
      <option id="select44" value="04">April</option>
      <option id="select45" value="05">May</option>
      <option id="select46" value="06">June</option>
      <option id="select47" value="07">July</option>
      <option id="select48" value="08">August</option>
      <option id="select49" value="09">September</option>
      <option id="select410" value="10">October</option>
      <option id="select411" value="11">November</option>
      <option id="select412" selected value="12">December</option>
    </select>
    <select hidden class="select" name="year" id="end-year-select">
      <option id="select5" value="">Select year</option>
      {% for i in range(min,max+1)%}
      <option selected value="{{i}}">{{i}}</option>
      {%endfor%}
    </select>
    <select hidden class="select" name="race" id="raceType1-select">
      <option id="select8" value="-1">Select the race to display</option>
      <option value="1">Holstein</option>
    </select>
    <select hidden class="select" name="race" id="raceType2-select">
      <option id="select9" value="-1">Select the race to display</option>
      <option value="2">Blanc Bleu Belge</option>
    </select>
    <select hidden class="select" name="race" id="raceType3-select">
      <option id="select10" value="-1">Select the race to display</option>
      <option value="3">Jersey</option>
    </select>
    <select hidden class="select" name="percentage" id="percentage-select">
      <option selected id="select11" value="">Select percentage to display</option>
      <option value="-12.5"> ≤12.5 </option>
      <option value="12.5"> 12.5  </option>
      <option value="-25"> ≤25  </option>
      <option value="25"> 25  </option>
      <option value="-50"> ≤50  </option>
      <option value="50"> 50  </option>
      <option value="-100"> ≤100  </option>
      <option value="100"> 100  </option>
    </select>
  </div>
  <div class="charts-selector-filter">
    <!-- This div contains the filter selectors for different charts they are all hidden except the chart-to-display,the selectors in this div, helps
      to show specific data, they are hidden by default and than depending on the chart-to-display they show -->
    <select hidden class="select" name="family" id="family-select">
      <option id="select6" value="">Choose a family</option>
      {% for famille in familles%}
      <option value="{{famille}}">{{famille}}</option>
      {%endfor%}
    </select>
    <select hidden class="select" name="fullmoon" id="fullmoon-select">
      <option id="select7" value="-1">Choose an option</option>
      <option id = "select71" value="fullmoon">full moon</option>
      <option id = "select72" value="other">other</option>
      <option id = "select73" value="both">both</option>
    </select>
  </div>

  <div class="center-button">
    <!-- This div contains the button Show, this button on click calls a function called update which takes data from the selectors and sends 
        to farm.py, as a request and takes data back to the front-end to display it on the chart -->
    <button id="bouton" class="button button1" onclick="update()">Show</button
    ><!--Bouton pour montrer le graphique-->
  </div>
</form>
<!--<p id="demo"></p>-->
<div class="chart">
  <canvas id="graphique" width="800px" height="550px"></canvas>
</div>
{%endblock%}
<footer>
  <h1 class="titles" style=" color: rgba(255,255,255);">
    Contact
  </h1>
  <div class="contact">
    <div class="contact-box">
      <p class = "" id="contactlabel" style= "color: rgba(255,255,255);   position: relative;
      left: 130px;
      margin-right: 20%;
      font-size: 1.3vw;
      font-family: 'Times New Roman', serif;">
        To join us : - tel 0356/55 12 25 - email : - ferme3chenes@cows.be We will try
        our best to answer you as soon as possible.
      </p>
      <div class="tooltip"> 
        <input class="tooltip" type="image" src="/static/images/phone.png" onclick="copyFunctionNumber()" onmouseout="outFunc()" width="100" height="100"/>
        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
      </div>
      <div class="tooltip"> 
        <input class="tooltip" type="image" src="/static/images/email.png" onclick="copyFunctionEmail()" onmouseout="outFunc()" width="100" height="100"/>
        <span class="tooltiptext" id="myTooltip2">Copy to clipboard</span>
      </div>
    </div>
    <div class="image-box">
      <img src="/static/images/CowJoke.jpg" alt="Cow joke" width="300" height="300">
    </div>
  </div>
  <a id="fifth" style="position: relative"></a>
</footer>

<script>
  //js code to initialize and create the default chart
var names = "{{keys}}";
var values = "{{values}}";
//transforms the string given from the request in to a array
const myArray_names = names
  .replace("dict_keys([", "")
  .replace("])", "")
  .split(",")
  .reverse();
//transforms the string given from the request in to a array
const myArray = values
  .replace("dict_values([", "")
  .replace("])", "")
  .split(",")
  .reverse();

// l'identifiant est celui du canevas
var ctx = document.getElementById("graphique").getContext("2d");
// création du graphique de base
var chart = new Chart(ctx, {
  type: "bar", // le type du graphique
  data: {
    // les données
    labels: myArray_names, //attributes the myArray_names  data to the labels of the Chart
    datasets: [
      {
        label: "Cows born over the decades",
        data: myArray, //attributes the myArray  data to the data of the Chart
        backgroundColor: [
          //couleur du fond des batonets
          "rgba(255, 99, 132, 0.2)", //red (red, green, blue, transparency)
          "rgba(54, 162, 235, 0.2)",
          "rgba(255, 206, 86, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(153, 102, 255, 0.2)",
          "rgba(255, 159, 64, 0.2)",
        ],
        borderColor: [
          "rgba(255, 99, 132, 1)", //les bords des batonets
          "rgba(54, 162, 235, 1)",
          "rgba(255, 206, 86, 1)",
          "rgba(75, 192, 192, 1)",
          "rgba(153, 102, 255, 1)",
          "rgba(255, 159, 64, 1)",
        ],
        borderWidth: 1, //épaiseur des bords
      },
    ],
  },
  options: {
    responsive: true,
    legend: {
      display: false,
    },
    title: {
      display: false,
      text: "Chart.js bar Chart",
    },
    animation: {
      animateScale: true,
    },
    scales: {
      yAxes: [
        {
          ticks: {
            beginAtZero: true,
          },
        },
      ],
    },
  },
});
chartSelectChange()
startMonthSelectChange()
startYearSelectChange()
endMonthSelectChange()
endYearSelectChange()
percentageSelectChange()
fullMoonSelectChange()
raceType1SelectChange()
raceType2SelectChange()
raceType3SelectChange()
</script>
{% endblock %}
