{% extends 'base.html' %}

{%block head%}
    {%block option_bar%}
        <!--creating an option bar to access easily the different,
            categories or services of the webpage-->
            <header>
                <div class="container">
                    <!--container(name) division helps to separate our work in smaller divisions, 
                        so it will be easier to implement or manipulate with CSS styles-->
                    <div class="nav-list">
                        <!--nav-list(name) division helps to separate our work in smaller divisions, 
                            so it will be easier to implement or manipulate with CSS styles 
                            
                            It contains four list items to which we are going to associate a link to redirect us.  -->
                        <li> 
                            <a href="#" class="nav-link" id="theFarm">The Farm</a>
                        </li>
                        <li> 
                            <a href="#" class="nav-link" id="services">Services</a>
                        </li>
                        <li> 
                            <a href="#" class="nav-link" id="types">Animal types </a>
                        </li>
                        <li> 
                            <a href="#" class="nav-link" id="graphics">Graphics</a>
                        </li>
                        <li> 
                            <a href="#" class="nav-link" id="contact">Contact</a>
                        </li>

                        <div class="language">
                            <li>
                                <a onclick="changeLanguage()" class="nav-link" id="languageSwitcher">Fr</a>
                            </li>
                        </div>
                    </div>
                </div>

            </header>
        {% endblock %}
{% endblock %}


{%block body%}
    {%block farmblock%}
        <div class="thefarm-block">
            <img src="static\images\home-image.jpg" class="farm-image">
            <p class="about-the-farm">
                The (Name) to be continued index.html l:47
            </p>
        </div>
    {%endblock%}
    
    {%block graphics%}
        <div class="graphics-selector">
            <select name="family" id="family-select">
                <option value="">--Please choose an option--</option>
                {% for famille in familles%}
                    <option value="">{{famille}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="action">
            <form action="" method="POST">
                <input type="submit" value ="Show">
            </form>
        </div>
        <canvas id="graphique" width="25px" height="10px"></canvas>
      <script>
            // l'identifiant est celui du canevas
            var ctx = document.getElementById('graphique').getContext('2d');
            // création du graphique
            var myChart = new Chart(ctx, {
            type: 'bar',   // le type du graphique
            data: {        // les données
                labels: ['Eduart', 'Martine', 'Michel', 'Jules', 'Louise', 'Dominique'],
                datasets: [{
                            label: 'votes',
                            data: [12, 19, 3, 5, 2, 3]
                        }]
                }
                }
            );
      </script>
    {%endblock%}


  <script>
    // Create a function to change
    // the hash value of the page
    
    function changeLanguage() {
      location.hash = languageSwitcher.textContent;
      location.reload();
    }
  
    // Define the language reload anchors
    var language = {
      fr: {
        farm: "La Ferme",service:"Services",type:"Types d' animaux",graphic:"Graphiques" ,lang:"En"
      }
    };
  
    // Check if a hash value exists in the URL
    if (window.location.hash) {
  
      // Set the content of the webpage 
      // depending on the hash value
      if (window.location.hash == "#Fr") {
          theFarm.textContent =
          language.fr.farm;
          services.textContent =
          language.fr.service;
          types.textContent =
          language.fr.type;
          graphics.textContent =
          language.fr.graphic;
          languageSwitcher.textContent =
          language.fr.lang;
      }
    }
  </script>
{% endblock %}